@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Kalam:wght@300&family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Graduate", cursive;
}

.navbar {
  font-size: x-large;
}

.nav-link {
  margin: auto;
}

.tagline {
  font-family: "Kalam", cursive;
  margin: -10px;
}

.UnauthMainBody {
  width: 90vw;
  height: 100vh;
  min-height: 625px;
}

.formDiv {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.authMainBody {
  width: 90vw;
  /* height: 100vh; */
  /* min-height: 625px; */
}
